<%- include('../partials/header') %>

<body>
  <div class="container">
    <div class="row">
      <div id="members" class="col s12">
        <% members.forEach(function(member) { %>
          <div class="card aep-card">
            <div class="card-content white-text">
              <div>
                <span class="card-title">
                  <i class="small material-icons">perm_identity</i>
                  <span class="member-name"><%= member.name %></span>
                </span>
              </div>

              <!-- Add Dynamic UI form below this line -->
              <% if (member._id.equals(user && user._id)) { %>
                <div class="card-action">
                  <p> You're logged In!
                </div>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>

<%- include('../partials/footer') %>