<%- include('./partials/header') %>
  
</div>
  <div class="container">
    <img src="https://res.cloudinary.com/dfm6aykqi/image/upload/v1596735698/books-learning-graduation-home-picture-memory-1576995-pxhere.com_b9xcmx.png" alt="Arts Education Background" class="bg-img">
    <div class="AEP-logo">
      <h2><strong> Arts Education Patron</strong></h2>
      <p>An exchange service dedicated to promoting the arts and art education</p>
    </div>
  </div>

  <%- include('./partials/footer') %>