

.bg-img{ 
    
    width: 100%; 
} 

.aep-head{
    background-color: #a61b00;
}

.aep-foot{
    background-color: #a61b00;
    color: black;
}
          
/* designing title and tag line */
.AEP-logo { 
    text-align:center; 
    position: absolute; 
    font-size: 18px; 
    top: 50px; 
    left: 27%; 
    color: #00a66c; 
} 

.aep-card {
    background-color: #3700a6;
    color: #00a66c;
    
}

.aep-menu-img {
    max-height: 4rem;
    
}

.aep-works-img {
    margin: auto;

    max-width: 50%
}

.aed-inline-card {
    display: inline-block;
}