<%- include('../partials/header') %>

<body>
  <div class="container">
    <div class="row">
      <div id="artists" class="col s12">
        <% works.forEach(function(work) { %>
          <div class="card aep-card">
            <div class="card-content white-text">
              <div>
                <span class="card-title">
                  <i class="small material-icons">palette</i>
                  <span class="artist-name"><%= work.workName %></span>
                </span>
              </div>
              <div><small> <a href="/works/<%= work._id %>"> details</a></small></div>
              
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>